:host {
  width: 100%;
  height: 100%;

  mat-form-field {
    width: 100%;

    &.password-field {
      mat-icon {
        color: darkgray;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: #282727;
        }

        &.active {
          color: #484545;
        }
      }
    }
  }

  .submit-btn {
    margin-left: auto;
  }
}
