<mat-card>
  <form [formGroup]="loginForm">
  <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="without-subscript-wrapper password-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password">
        <mat-icon role="button" class="password-field__icon" [class.active]="!isPasswordHidden"
                  matSuffix (click)="handleTogglePasswordHidden()">
          {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>
      <app-password-strength [passwordStrengthDetails]="passwordStrengthDetails"></app-password-strength>

  </mat-card-content>
  <mat-card-actions>
    <button class="submit-btn" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </mat-card-actions>
  </form>
</mat-card>
