:host {
  width: 100%;
  height: 100%;

  mat-form-field {
    width: 100%;

    &.password-field {
      mat-icon {
        color: darkgray;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: #282727;
        }

        &.active {
          color: #484545;
        }
      }
    }
  }

  .password-errors {
    height: 16px;
    margin-bottom: 5px;
    padding: 0 16px;
    font-size: 14px;
    color: red;

    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .submit-btn {
    margin-left: auto;
  }
}
