<mat-card>
  <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()">
  <mat-card-content>
      <mat-form-field appearance="outline" class="without-subscript-wrapper password-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password">
        <mat-icon role="button" class="password-field__icon" [class.active]="!isPasswordHidden"
                  matSuffix (click)="handleTogglePasswordHidden()">
          {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </mat-form-field>
      <app-password-strength [passwordStrengthDetails]="passwordStrengthDetails"></app-password-strength>

      <div class="password-errors">
        @if(passwordStrengthDetails.errors.hasCyrillic) {
          <p>Cyrillic characters are not allowed!</p>
        }
      </div>
  </mat-card-content>
  <mat-card-actions>

    <button class="submit-btn" type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Submit</button>
  </mat-card-actions>
  </form>
</mat-card>
