<div class="pass-strength-info" [ngClass]="passwordStrengthDetails?.passwordStrength">
  @for(blockStatus of strengthPassBlocks; track strengthPassBlocks) {
    <span class="pass-strength-info__block"></span>
  }
</div>

  <div class="conditions-list" [class.light]="passwordStrengthDetails?.errors?.hasCyrillic">
    @if (passwordStrengthDetails) {
      <mat-selection-list class="without-focus">
        <mat-list-option [selected]="!passwordStrengthDetails.errors.toShort" disabled>Sufficient length</mat-list-option>
        <mat-list-option [selected]="!passwordStrengthDetails.errors.hasNotLetters" disabled>Letters</mat-list-option>
        <mat-list-option [selected]="!passwordStrengthDetails.errors.hasNotNumbers" disabled>Numbers</mat-list-option>
        <mat-list-option [selected]="!passwordStrengthDetails.errors.hasNotSymbols" disabled>Special characters</mat-list-option>
      </mat-selection-list>
    }
  </div>
