.pass-strength-info {
  margin-top: 7px;
  width: 100%;
  display: flex;

  &__block {
    display: block;
    height: 4px;
    background-color: #e0dcdc;
    flex-grow: 1;
    margin-right: 2px;
    border-radius: 2px;
    transition: background-color 0.5s ease;

    &:last-child {
      margin-right: 0;
    }
  }

  &.strong > :nth-child(n) {
    background-color: green;
  }

  &.medium :nth-child(-n+2) {
    background-color: #e8e61a;
  }

  &.easy :nth-child(-n+1) {
    background-color: red;
  }
}
