<div class="pass-strength-info" [ngClass]="passwordStrength">
  @for(blockStatus of strengthPassBlocks; track strengthPassBlocks) {
    <span class="pass-strength-info__block active"></span>
  }
</div>

  <div class="conditions-list">
    <mat-selection-list>
      <mat-list-option [selected]="!passwordErrors?.hasNotLetters" disabled>Letters</mat-list-option>
      <mat-list-option [selected]="!passwordErrors?.hasNotNumbers" disabled>Numbers</mat-list-option>
      <mat-list-option [selected]="!passwordErrors?.hasNotSymbols" disabled>Special characters</mat-list-option>
    </mat-selection-list>
  </div>

